.item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  "title title"
  "img info";
  width: 85%;
  margin: auto;
  &-title {
    grid-area: title;
  }
  &-img {
    grid-area: img;
    object-fit: cover;
    max-width: 100%;
    align-self: center;
    margin: auto;
  }
  &-info {
    grid-area: info;
    
  }

}
.marca{
  text-transform: uppercase;
}