@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
  justify-content: space-between;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #000;
}
p {
  font-size: 1em;
  margin-bottom: 1rem;
}

form {
  margin: 0;
  padding: 0;
  text-align: center;
}

button,input {
  line-height: 1.5;
}

input[type=text],input[type=email], input[type=password], input[type=search] {
  outline: 0;
  color: #222;
  width: 100%;
}

[type=submit]:not(:disabled), button:not(:disabled) {
  cursor: pointer;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
  margin: 0; 
}

form input::placeholder {
  color: #999;
}
